.main-info > h2 {
  color: tomato;
  font-family: "Spline Sans Mono";
  border-bottom: none;
   border-bottom: 5px dotted teal;
}

@media screen and (min-width: 576px)  {
  .main-info > h2 {
    border-top: 5px dotted teal;
  }
}

@media screen and (max-width: 768px) {
  .main-info > h2 {
    border-right: 5px dotted teal;
  }
}

@media print and (max-width: 992px) {
  .main-info > h2 {
    border-bottom: 10px solid black;
  }
}

/* (320 : 576) Extra small
[576 : 768) small
[768 : 992) Medium
[992 : 1200) large 
[1200 : infinity) */
