@charset "utf-8";
/* @import url(./reset.css) */
@import "./reset.css";
@import "./fonts.css";
:root{
  font-size: 30px;
}

h2 {
font-family:"Spline Sans Mono", monospace ;
font-style: italic;
}

h1{
  font-family: "Bungee Spice", sans-serif;
}